.about-us{
    &__image{
        // max-width: 80%;
        justify-self: center;
        align-self: center;
        display: none;
        @include medium-up{
            display: block;
        }
    }
    &__content{
        padding: 15px;
        align-self: center;
        p{
            margin-top: 15px;
        }
        .list{
            .grid{
                @include small-up{
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}