.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    overflow-x: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: $white;
    & &__button{
        display: none;
        padding: 20px 40px;
        @include medium-up{
            display: inherit;
        }
    }
}