//flex
.u-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.u-flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}



//text
.u-text-center{
    text-align: center;
}
.u-text-color-white{
    color: $white;
}

//element
.u-element-center{
    left: 50%;
    transform:translateX(-50%);
}

//margin
.u-mt-5{
    margin-top: 5px !important;
}
.u-mt-15{
    margin-top: 15px !important;
}
.u-mt-20{
    margin-top: 20px !important;
}
.u-mt-30{
    margin-top: 30px !important;
}
.u-mt-40{
    margin-top: 40px !important;
}
.u-mt-50{
    margin-top: 50px !important;
}
.u-mt-60{
    margin-top: 60px !important;
}
.u-mt-75{
    margin-top: 75px !important;
}
.u-mt-100{
    margin-top: 100px !important;
}

//padding
.u-padding-section{
    padding-left: 25px;
    padding-right: 25px;
    @include medium-up{
        padding-left: 50px;
        padding-right: 50px;
    }
    @include large-up{
        padding-left: 100px;
        padding-right: 100px;
    }
}