.navigation{
    &--desktop{
        display: none;
        @include medium-up{
            display: inherit;
        }
        & ul{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 40px;
        }
    }
    &__link{
        color: $black;
        font-weight: 700;
        @include transitions(300ms);
        &::after{
            content: '';
            display: block;
            height: 3px;
            width: 15px;
            background-color: $primary-color;
            margin-top: 2px;
            @include transitions(300ms);
        }
        &:hover{
            color: $primary-color;
            &::after{
                width: 100%;
            }
        }
    }
}