.projects-item{
    width: 100%;
    height: 450px;
    // background-color: red;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &:hover{
        & .projects-item__content{
            bottom: 0;
            .projects-item__button{
                opacity: 1;
            }
        }
    }
    &__content{
        background-color: $white;
        width: 100%;
        border-radius: 12px 12px 0 0;
        bottom: -80px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 15px;
        overflow: hidden;
        @include transitions(300ms);
    }
    &__icon{
        max-width: 20%;
    }
    &__description{
        text-align: center;
        // min-height: 60px;
    }
    &__button{
        margin-top: 25px;
        opacity: 0;
    }
}